################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Notify/FileContentIndex/d6e13397-6214-4d9e-bcd4-34ece9645c49.vsidx
/.vs/Notify/DesignTimeBuild/.dtbcache.v2
/.vs/Notify/FileContentIndex
